@using ASP.Server.ViewModels
@model CreateBookViewModel

@{
    ViewData["Title"] = "Ajouter un livre";
}

<style>
    .input-group {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    input, textarea, select, .form-check {
        flex-basis: 85%;
    }

    label {
        flex-basis: 10%;
    }
</style>

<h2>@ViewData["Title"]</h2>

<form asp-controller="Book" asp-action="Create" method="post">
    <div class="input-group">
        <label asp-for="Nom">Nom du livre</label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label>Auteurs</label>
        <div class="form-check-group">
            @foreach (var auteur in Model.AvailableAuteurs)
            {
                <div class="form-check">
                    <input type="checkbox" name="SelectedAuteurIds" value="@auteur.Id" class="form-check-input" />
                    <label class="form-check-label">@auteur.Nom</label>
                </div>
            }

        </div>
    </div>

    <div class="input-group">
        <label asp-for="Prix">Prix</label>
        <input asp-for="Prix" class="form-control" />
        <span asp-validation-for="Prix" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="Contenu">Contenu</label>
        <textarea asp-for="Contenu" class="form-control"></textarea>
        <span asp-validation-for="Contenu" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="SelectedGenreIds">Genres</label>
        <select asp-for="SelectedGenreIds" asp-items="@(new SelectList(Model.AvailableGenres,"Id","Nom"))" class="form-control" multiple="multiple"></select>
        <span asp-validation-for="SelectedGenreIds" class="text-danger"></span>
    </div>

    <input type="submit" value="Ajouter" class="btn btn-primary" style="margin-top: 20px;" />
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
